<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>客房管理</title>
	<link rel="stylesheet" href="css/layui.css" media="all" />
	<script type="text/javascript" src="js/layui.js"></script>
	<link rel="stylesheet" href="css/eleindex.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/eleindex.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="js/axios.js"></script>
	<script type="text/javascript" src="js/tool.js"></script>
</head>

<body>
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo" style="margin-left:-22px">管理端</div>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:;">
				</a>
			</li>

		</ul>
	</div>
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<ul class="layui-nav layui-nav-tree" lay-filter="test">
				<li class="layui-nav-item">
					<a class="" href="index.html"><i class="el-icon-edit-outline"></i> 公告管理</a>
				</li>
				<li class="layui-nav-item">
					<a class="layui-this" href="room.html"><i class="el-icon-edit-outline"></i> 客房管理</a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="order.html"><i class="el-icon-edit-outline"></i> 办理入住</a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="outorder.html"><i class="el-icon-edit-outline"></i> 办理退房</a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="history.html"><i class="el-icon-edit-outline"></i> 历史订单</a>
				</li>
				<li class="layui-nav-item">
				<a class="" href="user.html"><i class="el-icon-edit-outline"></i> 用户管理</a>
			</li>

			</ul>
		</div>
	</div>
	<div class="layui-body">
		<div style="padding: 15px;height: 100%; margin: 0">
			<div class="login-box" id="app">
				<el-button type="primary" style="margin-top: 10px;margin-bottom: 25px;" @click="centerDialogVisible = true"><i
						class="el-icon-circle-plus-outline"></i>添加房间</el-button>
				<div class="searchWord" style="text-align: center;margin-top: -65px;margin-bottom: 50px;">
					<el-input v-model="search" style="display: inline-block;width: 300px;" placeholder="请输入搜索内容">
					</el-input>
				</div>
				<el-dialog title="添加房间" :visible.sync="centerDialogVisible" width="30%" :modal-append-to-body='false' center>
					<el-form :model="form" ref="form">
						<el-form-item label="房间号：" :label-width="formLabelWidth">
							<el-input v-model="form.nenber" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="名称：" :label-width="formLabelWidth">
							<el-input v-model="form.path" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="价格(元/天)：" :label-width="formLabelWidth">
							<el-input v-model="form.money" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="押金(元)：" :label-width="formLabelWidth">
							<el-input v-model="form.ya_money" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="房间描述：" :label-width="formLabelWidth">
							<el-input v-model="form.body" type="textarea" autocomplete="off"></el-input>
						</el-form-item>

					</el-form>
					<span slot="footer" class="dialog-footer">
							<el-button @click="centerDialogVisible = false">取 消</el-button>
							<el-button type="primary" @click="onSubmitfabu">确定添加</el-button>
						</span>
				</el-dialog>
				<el-table :data="tableData" border style="width: 100%">
					<el-table-column label="房间号">
						<template slot-scope="scope">
							<span style="margin-left: 10px">{{scope.row.nenber}}</span>
						</template>
					</el-table-column>
					<el-table-column label="房间名称">
						<template slot-scope="scope">
							<span style="margin-left: 10px">{{scope.row.path}}</span>
						</template>
					</el-table-column>
					<el-table-column label="价格(元/天)">
					<template slot-scope="scope">
						<span style="margin-left: 10px">{{scope.row.money}}</span>
					</template>
				</el-table-column>
					<el-table-column label="押金(元)">
					<template slot-scope="scope">
						<span style="margin-left: 10px">{{scope.row.ya_money}}</span>
					</template>
				</el-table-column>
					<el-table-column label="描述">
					<template slot-scope="scope">
						<span style="margin-left: 10px">{{scope.row.body}}</span>
					</template>
				</el-table-column>

					<el-table-column label="操作">
						<template slot-scope="scope">
							<el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)"><i class="el-icon-delete"></i>删除</el-button>
						</template>
					</el-table-column>
				</el-table>

			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	var manger_id = localStorage.getItem("manger_id");
	var vm=new Vue({
		el: '#app',
		data: {
			api: serverUrl+'/image/?name=',
			search: '',
			formLabelWidth: '',
			centerDialogVisible: false,
			centerDialogVisiblestudent: false,
			form: {
				money:'',
				nenber:'',
				body:'',
				ya_money:'',
				path:'',
			},
			tableData: [],

		},
		mounted() {
			this.convert(this.tableData);
		},
		computed: {
			tables: function () {
				const search = this.search
				if (search) {
					return this.tableData.filter(dataNews => {
						return Object.keys(dataNews).some(key => {
							return String(dataNews[key]).toLowerCase().indexOf(search) > -1
						})
					})
				}
				return this.tableData
			}
		},
		methods: {
			convert: function () {
				axios.get(host + "/select_all_home/").then(res => {
					this.tableData = res.data.data;
				})
			},
			onSubmitfabu(){
				axios({
					method: 'post',
					url: host + '/add_home/',
					data: {
						money:this.form.money,
						nenber:this.form.nenber,
						body:this.form.body,
						ya_money:this.form.ya_money,
						path:this.form.path,

					},
				})
						.then(function (response) {
							if (response.data.code == 1) {
								console.log(response.data.msg);
								alert(response.data.msg);
								window.location.reload();
							}
							else {
								alert(response.data.msg);
							}
						})
						.catch(function (error) {
							console.log(error);
						})

			},

			handleDelete(index, row) {
				console.log(index, row.id);
				axios({
					method: 'post',
					url: host + '/del_home/',
					data: {
						id: row.id,
					},
				})
						.then(function (response) {
							if (response.data.state == 1) {
								console.log(response.data.msg);
								alert(response.data.msg);
								window.location.reload();
							}
							else {
								alert(response.data.msg);
							}
						})
						.catch(function (error) {
							console.log(error);
						})
			},

		},
	})
</script>

</html>